# AutoEncoder

We have taken a movie dataset and our task is to predict that the user has rated the movie or not using the AutoEncoder. The rating is from 1 to 5. AutoEncoder is Unsupervised Deep Learning algorithm, used for Recommended system.

In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
#Importing the dataset
movies = pd.read_csv('ml-1m/movies.dat',sep = '::', header = None, engine = 'python', encoding = 'latin-1')
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [3]:
users = pd.read_csv('ml-1m/users.dat',sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [4]:
ratings = pd.read_csv('ml-1m/ratings.dat',sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [5]:
#Preparing the trainig set
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set

         1   1.1  5  874965758
0        1     2  3  876893171
1        1     3  4  878542960
2        1     4  3  876893119
3        1     5  3  889751712
4        1     7  4  875071561
...    ...   ... ..        ...
79994  943  1067  2  875501756
79995  943  1074  4  888640250
79996  943  1188  3  888640250
79997  943  1228  3  888640275
79998  943  1330  3  888692465

[79999 rows x 4 columns]

In [6]:
training_set = np.array(training_set, dtype = 'int')
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [7]:
#Preparing the test
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set

         1     6  5  887431973
0        1    10  3  875693118
1        1    12  5  878542960
2        1    14  5  874965706
3        1    17  3  875073198
4        1    20  4  887431883
...    ...   ... ..        ...
19994  458   648  4  886395899
19995  458  1101  4  886397931
19996  459   934  3  879563639
19997  460    10  3  882912371
19998  462   682  5  886365231

[19999 rows x 4 columns]

In [8]:
#Converting the test set to numpy array
test_set = np.array(test_set, dtype = 'int')
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

In [9]:
#Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_users

943

In [10]:
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_movies

1682

In [11]:
#Converting the data into array with users in lines and movies in columns
def convert(data):
    new_data = []
    for id_users in range(1, nb_users+1):
        id_movies = data[:, 1][data[:, 0]==id_users]
        id_ratings = data[:, 2][data[:, 0]==id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [12]:
#Convert the data into torch tensor
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [15]:
# Creating the architecture of Neural Network
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [24]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            s += 1.
            optimizer.step()
    print('Epoch: '+str(epoch)+' Loss: '+ str(train_loss/s))

Epoch: 1 Loss: tensor(0.9003)
Epoch: 2 Loss: tensor(0.9014)
Epoch: 3 Loss: tensor(0.9010)
Epoch: 4 Loss: tensor(0.9006)
Epoch: 5 Loss: tensor(0.9001)
Epoch: 6 Loss: tensor(0.9000)
Epoch: 7 Loss: tensor(0.8994)
Epoch: 8 Loss: tensor(0.8996)
Epoch: 9 Loss: tensor(0.8983)
Epoch: 10 Loss: tensor(0.8978)
Epoch: 11 Loss: tensor(0.8974)
Epoch: 12 Loss: tensor(0.8969)
Epoch: 13 Loss: tensor(0.8968)
Epoch: 14 Loss: tensor(0.8960)
Epoch: 15 Loss: tensor(0.8953)
Epoch: 16 Loss: tensor(0.8955)
Epoch: 17 Loss: tensor(0.8949)
Epoch: 18 Loss: tensor(0.8943)
Epoch: 19 Loss: tensor(0.8939)
Epoch: 20 Loss: tensor(0.8934)
Epoch: 21 Loss: tensor(0.8933)
Epoch: 22 Loss: tensor(0.8925)
Epoch: 23 Loss: tensor(0.8929)
Epoch: 24 Loss: tensor(0.8915)
Epoch: 25 Loss: tensor(0.8918)
Epoch: 26 Loss: tensor(0.8908)
Epoch: 27 Loss: tensor(0.8910)
Epoch: 28 Loss: tensor(0.8898)
Epoch: 29 Loss: tensor(0.8897)
Epoch: 30 Loss: tensor(0.8889)
Epoch: 31 Loss: tensor(0.8887)
Epoch: 32 Loss: tensor(0.8888)
Epoch: 33 Loss: tensor(0.8891)
Epoch: 34 Loss: tensor(0.8884)
Epoch: 35 Loss: tensor(0.8878)
Epoch: 36 Loss: tensor(0.8868)
Epoch: 37 Loss: tensor(0.8869)
Epoch: 38 Loss: tensor(0.8861)
Epoch: 39 Loss: tensor(0.8862)
Epoch: 40 Loss: tensor(0.8856)
Epoch: 41 Loss: tensor(0.8850)
Epoch: 42 Loss: tensor(0.8845)
Epoch: 43 Loss: tensor(0.8844)
Epoch: 44 Loss: tensor(0.8842)
Epoch: 45 Loss: tensor(0.8836)
Epoch: 46 Loss: tensor(0.8830)
Epoch: 47 Loss: tensor(0.8824)
Epoch: 48 Loss: tensor(0.8823)
Epoch: 49 Loss: tensor(0.8821)
Epoch: 50 Loss: tensor(0.8815)
Epoch: 51 Loss: tensor(0.8814)
Epoch: 52 Loss: tensor(0.8810)
Epoch: 53 Loss: tensor(0.8807)
Epoch: 54 Loss: tensor(0.8805)
Epoch: 55 Loss: tensor(0.8798)
Epoch: 56 Loss: tensor(0.8790)
Epoch: 57 Loss: tensor(0.8789)
Epoch: 58 Loss: tensor(0.8785)
Epoch: 59 Loss: tensor(0.8781)
Epoch: 60 Loss: tensor(0.8777)
Epoch: 61 Loss: tensor(0.8771)
Epoch: 62 Loss: tensor(0.8771)
Epoch: 63 Loss: tensor(0.8766)
Epoch: 64 Loss: tensor(0.8766)
Epoch: 65 Loss: tensor(0.8756)
Epoch: 66 Loss: tensor(0.8764)
Epoch: 67 Loss: tensor(0.8752)
Epoch: 68 Loss: tensor(0.8745)
Epoch: 69 Loss: tensor(0.8742)
Epoch: 70 Loss: tensor(0.8740)
Epoch: 71 Loss: tensor(0.8737)
Epoch: 72 Loss: tensor(0.8735)
Epoch: 73 Loss: tensor(0.8733)
Epoch: 74 Loss: tensor(0.8731)
Epoch: 75 Loss: tensor(0.8727)
Epoch: 76 Loss: tensor(0.8719)
Epoch: 77 Loss: tensor(0.8718)
Epoch: 78 Loss: tensor(0.8720)
Epoch: 79 Loss: tensor(0.8714)
Epoch: 80 Loss: tensor(0.8710)
Epoch: 81 Loss: tensor(0.8710)
Epoch: 82 Loss: tensor(0.8706)
Epoch: 83 Loss: tensor(0.8708)
Epoch: 84 Loss: tensor(0.8705)
Epoch: 85 Loss: tensor(0.8703)
Epoch: 86 Loss: tensor(0.8696)
Epoch: 87 Loss: tensor(0.8691)
Epoch: 88 Loss: tensor(0.8687)
Epoch: 89 Loss: tensor(0.8691)
Epoch: 90 Loss: tensor(0.8685)
Epoch: 91 Loss: tensor(0.8683)
Epoch: 92 Loss: tensor(0.8681)
Epoch: 93 Loss: tensor(0.8680)
Epoch: 94 Loss: tensor(0.8676)
Epoch: 95 Loss: tensor(0.8672)
Epoch: 96 Loss: tensor(0.8671)
Epoch: 97 Loss: tensor(0.8667)
Epoch: 98 Loss: tensor(0.8666)
Epoch: 99 Loss: tensor(0.8660)
Epoch: 100 Loss: tensor(0.8658)
Epoch: 101 Loss: tensor(0.8657)
Epoch: 102 Loss: tensor(0.8658)
Epoch: 103 Loss: tensor(0.8654)
Epoch: 104 Loss: tensor(0.8652)
Epoch: 105 Loss: tensor(0.8647)
Epoch: 106 Loss: tensor(0.8644)
Epoch: 107 Loss: tensor(0.8642)
Epoch: 108 Loss: tensor(0.8639)
Epoch: 109 Loss: tensor(0.8640)
Epoch: 110 Loss: tensor(0.8637)
Epoch: 111 Loss: tensor(0.8635)
Epoch: 112 Loss: tensor(0.8632)
Epoch: 113 Loss: tensor(0.8628)
Epoch: 114 Loss: tensor(0.8627)
Epoch: 115 Loss: tensor(0.8623)
Epoch: 116 Loss: tensor(0.8616)
Epoch: 117 Loss: tensor(0.8620)
Epoch: 118 Loss: tensor(0.8620)
Epoch: 119 Loss: tensor(0.8619)
Epoch: 120 Loss: tensor(0.8608)
Epoch: 121 Loss: tensor(0.8609)
Epoch: 122 Loss: tensor(0.8600)
Epoch: 123 Loss: tensor(0.8603)
Epoch: 124 Loss: tensor(0.8599)
Epoch: 125 Loss: tensor(0.8601)
Epoch: 126 Loss: tensor(0.8594)
Epoch: 127 Loss: tensor(0.8594)
Epoch: 128 Loss: tensor(0.8585)
Epoch: 129 Loss: tensor(0.8589)
Epoch: 130 Loss: tensor(0.8584)
Epoch: 131 Loss: tensor(0.8582)
Epoch: 132 Loss: tensor(0.8582)
Epoch: 133 Loss: tensor(0.8582)
Epoch: 134 Loss: tensor(0.8576)
Epoch: 135 Loss: tensor(0.8575)
Epoch: 136 Loss: tensor(0.8570)
Epoch: 137 Loss: tensor(0.8570)
Epoch: 138 Loss: tensor(0.8564)
Epoch: 139 Loss: tensor(0.8561)
Epoch: 140 Loss: tensor(0.8559)
Epoch: 141 Loss: tensor(0.8559)
Epoch: 142 Loss: tensor(0.8555)
Epoch: 143 Loss: tensor(0.8554)
Epoch: 144 Loss: tensor(0.8549)
Epoch: 145 Loss: tensor(0.8552)
Epoch: 146 Loss: tensor(0.8546)
Epoch: 147 Loss: tensor(0.8545)
Epoch: 148 Loss: tensor(0.8542)
Epoch: 149 Loss: tensor(0.8541)
Epoch: 150 Loss: tensor(0.8536)
Epoch: 151 Loss: tensor(0.8535)
Epoch: 152 Loss: tensor(0.8530)
Epoch: 153 Loss: tensor(0.8529)
Epoch: 154 Loss: tensor(0.8525)
Epoch: 155 Loss: tensor(0.8523)
Epoch: 156 Loss: tensor(0.8519)
Epoch: 157 Loss: tensor(0.8518)
Epoch: 158 Loss: tensor(0.8516)
Epoch: 159 Loss: tensor(0.8517)
Epoch: 160 Loss: tensor(0.8519)
Epoch: 161 Loss: tensor(0.8512)
Epoch: 162 Loss: tensor(0.8506)
Epoch: 163 Loss: tensor(0.8503)
Epoch: 164 Loss: tensor(0.8506)
Epoch: 165 Loss: tensor(0.8498)
Epoch: 166 Loss: tensor(0.8493)
Epoch: 167 Loss: tensor(0.8494)
Epoch: 168 Loss: tensor(0.8493)
Epoch: 169 Loss: tensor(0.8491)
Epoch: 170 Loss: tensor(0.8489)
Epoch: 171 Loss: tensor(0.8487)
Epoch: 172 Loss: tensor(0.8482)
Epoch: 173 Loss: tensor(0.8482)
Epoch: 174 Loss: tensor(0.8474)
Epoch: 175 Loss: tensor(0.8475)
Epoch: 176 Loss: tensor(0.8471)
Epoch: 177 Loss: tensor(0.8471)
Epoch: 178 Loss: tensor(0.8468)
Epoch: 179 Loss: tensor(0.8469)
Epoch: 180 Loss: tensor(0.8465)
Epoch: 181 Loss: tensor(0.8462)
Epoch: 182 Loss: tensor(0.8459)
Epoch: 183 Loss: tensor(0.8453)
Epoch: 184 Loss: tensor(0.8451)
Epoch: 185 Loss: tensor(0.8448)
Epoch: 186 Loss: tensor(0.8446)
Epoch: 187 Loss: tensor(0.8445)
Epoch: 188 Loss: tensor(0.8445)
Epoch: 189 Loss: tensor(0.8439)
Epoch: 190 Loss: tensor(0.8437)
Epoch: 191 Loss: tensor(0.8435)
Epoch: 192 Loss: tensor(0.8433)
Epoch: 193 Loss: tensor(0.8427)
Epoch: 194 Loss: tensor(0.8427)
Epoch: 195 Loss: tensor(0.8427)
Epoch: 196 Loss: tensor(0.8422)
Epoch: 197 Loss: tensor(0.8420)
Epoch: 198 Loss: tensor(0.8417)
Epoch: 199 Loss: tensor(0.8417)
Epoch: 200 Loss: tensor(0.8413)

In [27]:
#Testing the SAE
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print('Test loss: '+str(test_loss/s))

Test loss: tensor(0.9541)

Our model has performed well on the test dataset. Got the test loss 0.95.